@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: #373737;
  margin: 0;
  padding: 0;
}

